
{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>

    <!DOCTYPE html>
      <html>
      <head>
            <style>
            body {margin:25px;}

            div.polaroid {
              width: 50%;
              background-color: white;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              margin-bottom: 25px;
            }

            div.container {
              text-align: center;
              padding: 10px 20px;
            }
            </style>
      </head>
      <body>
        <div class="row">
          <div class="col s4 m7">
            <div class="polaroid">
              <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt=""></a>
              <div class="container">
                <p>{{ post.0 }}</p>
               </div>
                <div class="card-action">
                    <a href="{{ post.1 }}">View listing: Price {{ post.2 }}</a>
                </div>
            </div>
          </div>
        </div>

{% endblock content %}




